@using MLWeb.Models
@model List<ProductsViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ILayout.cshtml";
}

<body>

    <div class="body">
       

        <div role="main" class="main">

            @foreach (var x in Model)
            {

            <div class="container pt-4 pb-5 my-5">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">

                        <article class="mb-5">
                            <div class="card bg-transparent border-0 custom-border-radius-1">
                                <div class="card-body p-0 z-index-1">
                                   
                                        <img class="card-img-top custom-border-radius-1 mb-2"  width="600" height="500" src="@x.Urunimg" alt="">
                                   
                                        <div class="card-body p-0">
                                            <h3 class="card-title text-5 font-weight-bold pb-1 mb-2">@x.Caption</h3>
                                            <br />
                                            <div class="card-body p-0 z-index-1">

                                                <img class="card-img-top custom-border-radius1 mb-0" src="@x.Tablo" alt="">
                                                <br/>

                                                <div class="card-body p-0">
                                                    <p class="card-text mb-2">@Html.Raw(x.explanation)</p>
                                                    @*<a href="demo-auto-services-blog-post.html" class="btn btn-link font-weight-semibold text-decoration-none text-3 ps-0">READ MORE</a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </article>

                       


                    </div>
                 
                </div>
            </div>
            
            


            }
            
        </div>
        

       

    </div>

    <!-- Vendor -->
    <script src="vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="js/views/view.contact.js"></script>

    <!-- Demo -->
    <script src="js/demos/demo-auto-services.js"></script>

    <!-- Theme Custom -->
    <script src="js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

</body>
