@using MLWeb.Models
@model HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ILayout.cshtml";
}

<div role="main" class="main">
    <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['670px','670px','670px','550px','500px']" style="height: 670px;">
            @Html.Action("Partial1", "Home")
       
    </div>
        <div>
            @Html.Action("Partial2", "Home")
        </div>
        @*<div>
            @Html.Action("Partial3","Home")
        </div>*@
       
    </div>
       

    
     
    

    

    
           
          
       

        


       


